[submodule "contrib/ethernet-linux-igb-5.19.4"]
	path = contrib/ethernet-linux-igb-5.19.4
	url = https://github.com/intel/ethernet-linux-igb.git
[submodule "contrib/linux-6.18"]
	path = contrib/linux-6.18
	url = https://github.com/torvalds/linux.git
[submodule "contrib/xdp-tools"]
	path = contrib/xdp-tools
	url = https://github.com/xdp-project/xdp-tools.git
